# Assignment 3

## 문제1

In [1]:
L = [1, 2, 3, 4, 5]

L[1:3] = [100]
print(L)

[1, 100, 4, 5]

L[1:3] 는 L[1]에서 L[3] 사이의 리스트를 또 다른 리스트인 [100] 으로 바꾼다는 말이다.리스트와 리스트는 크기가 달라도 서로 치환이 가능하다.

In [2]:
L = [1, 2, 3, 4, 5]

L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

위와 동일하게 리스트는 크기가 달라도 서로 치환이 가능하다.

In [3]:
L = [1, 2, 3, 4, 5]

L[1:3] = 100
print(L)

TypeError: can only assign an iterable

L[1]에서 L[3] 사이의 리스트를 요소와 치환할 수 없기 때문에 에러가 난다.

In [4]:
L = [1, 2, 3, 4, 5]

L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

튜플은 한개의 요소를 가질때 요소 뒤에 반드시 콤마(,)를 붙여야 하므로 (100)은 튜플이 아닌 요소이다. 그러므로 위의 예제와 같은 에러가 난다.

In [5]:
L = [1, 2, 3, 4, 5]

L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

L[1]에서 L[3] 사이의 리스트를 튜플인 (100, 101, 102) 로 바꾼다는 말이다. 리스트와 튜플은 크기가 달라도 서로 치환이 가능하다.

In [6]:
L = [1, 2, 3, 4, 5]

L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

리스트는 크기가 달라도 서로 치환이 가능하다.

In [7]:
L = [1, 2, 3, 4, 5]

L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

리스트와 튜플은 크기가 달라도 서로 치환이 가능하다.

In [8]:
L = [1, 2, 3, 4, 5]

L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

리스트 속 리스트도 결국 리스트이기 때문에 서로 치환이 가능하다.

## 문제2

In [9]:
s = 'Hello World and Python'

s = s.split()
s = s[::-1]

s = ' '.join(s)

print(s)

Python and World Hello

s.split()으로 공백으로 단어를 나눠 리스트를 생성한다. 그리고 슬라이싱으로 리스트를 역순으로 바꿔준 뒤 ' '.join(s) 로 단어를 재조합 한다.

In [10]:
s = s.split()
s = ''.join(s)

print(s)

PythonandWorldHello

s.split()으로 공백으로 단어를 나눠 리스트를 생성한다. 그리고 ''.join(s) 로 단어를 공백 없이 재조합 한다.

## 문제3

In [11]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3

print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

b 는 a 의 리스트 속 요소들을 세 번 곱하는 것이고, c는 [a], 즉 리스트로 묶은 a를 세 번 곱하는 것이다.

In [12]:
a[0] = 0

print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

b 가 아닌 c 속의 요소만 0으로 바뀐 이유는 c 만 a 의 참조 값, 즉 레퍼런스를 갖기 때문이다.

## 문제4

In [13]:
s = ' first star : second star : third star '

s = s.split(':')

for i in range(len(s)):
    s[i] = s[i].strip()
    
print(s)

['first star', 'second star', 'third star']

split(':') 을 이용하여 리스트를 만들게 되면 양쪽에 공백이 있는 상태로 출력이 된다. 양쪽의 공백을 없애기 위해 strip()과 for을 사용하였다.

In [14]:
s = ' first star : second star : third star '

s = s.split(':')

l = []
l = [s[i].strip() for i in range(len(s))]

print(l)

['first star', 'second star', 'third star']

리스트 내포는 리스트 안에 for문을 포함하는 것이다. 위에서 실행하는 내용을 리스트 속에 넣어서 실행하였다.

## 문제 5

In [15]:
l = map(int, input().split())

def addall(l):
    return sum([i for i in l], 0)

print(addall(l))

1 2 3 4 5 6 7 8 9
45

split을 통해 리스트로 요소를 입력 받은 뒤 sum 으로 리스트의 모든 요소를 더해준다.

In [16]:
l = map(int, input().split())

def addallodd(l):
    return sum([i for i in l if (i%2==1)], 0)

print(addallodd(l))

1 2 3 4 5 6 7 8 9
25

위와 같이 split을 통해 리스트로 요소를 입력 받은 뒤에 홀수를 찾아내는 조건을 추가한 리스트로 모든 요소를 더해준다.

## 문제6

In [17]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]

d = {'low':L1, 'high':L2}
e = d
f = d.copy()

print(d)
print(e)
print(f)
print()

d['low'] = [10, 20, 30]
d['high'][1] = 500

print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

우선 리스트와 딕셔너리는 mutable 한 객체이고 정수는 immutable 한 객체이다.
mutable 한 객체에 얕은 복사를 하게 되어 e 에 d 를 할당하면 값이 할당되는 것이 아니라 메모리 주소를 바라보게 되어 e 를 변경하게 되면 d 도 바뀌게 된다.

f 는 d 를 얕은 복사를 한 것인데 d['low'] = [10, 20, 30] 은 주소 자체가 바뀌었으므로 영향을 받지 않게 된다.

In [18]:
import copy

f = copy.deepcopy(d)
print(f)

{'low': [10, 20, 30], 'high': [4, 500, 6]}

f 가 d 를 제대로 내부 객체들까지 깊은 복사를 하고 싶다면 copy.deepcopy 메소드를 이용하면 된다.

## 문제7

In [19]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}

print(d.keys())
print(d.values())
print()

def keyfunc(x):
    return x[1]

l = []
for (i,j) in d.items():
    l.append((i,j))

print(sorted(l))
print(sorted(l, reverse = True))
print(sorted(l, key = keyfunc))
print(sorted(l, key = keyfunc, reverse = True))

dict_keys(['one', 'two', 'three', 'four', 'five'])
dict_values([1, 2, 3, 4, 5])

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

for 과 append 를 이용해 튜플 (키, 값) 으로 다시 리스트를 만든다.
- 1) cmp, key, reverse 를 모두 주지 않았기 때문에 키를 기준으로 정렬되어 출력된다.
- 2) reverse 값을 True 로 주어 역순으로 정렬되어 출력된다.
- 3) key 함수를 만들어서 튜플의 값을 기준으로 정렬되어 출력되게 한다.
- 4) key 값과 reverse 값을 줘서 역순으로 정렬되어 출력되게 한다.

## 문제8

In [20]:
try:
    while 1:
        coupon, free = map(int, input().split())
except:exit()

import sys

for line in sys.stdin:
    coupon, free = map(int, line.split())
    
    chicken = coupon
    
    while coupon >= free:
        n = coupon/free
        coupon = coupon%free
        n += chicken;
        c += n
    
    print(coupon)

10 3
100 5
4 3

해결하지 못함

## 소감

ACM-ICPC 문제와 9번 문제를 풀지 못한 것이 아쉽다.